{% extends 'base.html.twig' %}

{% block main %}
	<div class="container-xl bg-light p-5 border-top">
		<div class="row mb-2">
			<div class="col-12 col-lg-3">
				<ul class="d-flex flex-column flex-wrap list-unstyled justify-content-center"></br>
			</br>
		</br>
		<a href="" class="btn btn-sm btn-outline-danger mx-1 mb-2">Trier par pseudo</a>
		<a href="" class="btn btn-sm btn-outline-danger mx-1 mb-2">Trier par email</a>
		<a href="" class="btn btn-sm btn-outline-danger mx-1 mb-2">Trier par rôle</a>
	</br>
</div>
<div class="col-12 col-lg-9">
	<h2 class="text-muted fw-bold mb-4">Les utilisateurs
		{# {% if is_granted('ROLE_MANAGER') %} #}
		<a href="{{path('add_user')}}" class="btn btn-sm btn-outline-danger mx-1 mb-2">Ajouter un utilisateur</a>
		{# {% endif %} #}
	</h2>

	<table class="table table-hover mt-4">
		<thead>
			<tr>
				<th>Image</th>
				<th>Pseudo</th>
				<th>Email</th>
				<th>Rôle</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>
						{% if user.profilpicture %}
							{% set fileName = user.profilpicture|split('/')|last %}
							<img src="{{ asset('uploads/users/' ~ fileName) }}" alt="Image du profil" class="img-fluid" style="max-width: 80px; max-height: 80px;">
						{% else %}
							Aucune image disponible
						{% endif %}
					</td>
					<td>{{ user.pseudo }}</td>
					<td>{{ user.email }}</td>
					<td>
						{% if user.roles is defined %}
							{% for role in user.roles %}
								{{ role }}
								{% if not loop.last %},
								{% endif %}
							{% endfor %}
						{% else %}
							Aucun rôle défini
						{% endif %}
					</td>
					<td>
						<a href="{{ path('show_user', {pseudo : user.pseudo})}}">Voir</a>
					</td>
					<td>
						<a href="{{ path('edit_user', {pseudo : user.pseudo})}}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="10">Aucun utilisateur trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
