{# {% extends 'base.html.twig' %} #}

{% block main %}
<h1>Liste des images</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Path</th>
                <th>Spot</th>
            </tr>
        </thead>
        <tbody>
        {% for picture in pictures %}
            <tr>
                     
                <td>{{ picture.id }}</td>
                <td>{{ picture.name }}</td>
                <td>{{ picture.path }}</td>
                <td>{{ picture.spot }}</td>
                <td><a href="{{ path('show_picture', {id : picture.id})}}">Liste des images</a></td>
                <td><a href="{{ path('edit_picture', {id : picture.id})}}">Modifier</a></td>  

            </tr>

        {% else %}
            <tr>
                <td colspan="10">Aucun image trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('create_picture')}}">Créer une nouvelle image</a>
{% endblock %}