{% extends 'base.html.twig' %}

{% block main %}

	<div class="container-xl bg-light p-5 border-top">
		<div class="row mb-2">
			<div class="col-12 col-lg-3">
				<ul class="d-flex flex-column flex-wrap list-unstyled justify-content-center"></br>
			</br>
		</br>
		<a href="" class="btn btn-sm btn-outline-danger mx-1 mb-2">Trier par nom</a>
		<a href="" class="btn btn-sm btn-outline-danger mx-1 mb-2">Trier par spot</a>
	</br>
</div>

<div class="col-12 col-lg-9">
	<h2 class="text-muted fw-bold mb-4">Les images
		{% if is_granted('ROLE_ADMIN') %}
			<a href="{{path('add_picture')}}" class="btn btn-sm btn-outline-danger mx-1 mb-2">Ajouter une image</a>
		{% endif %}
	</h2>

	<table class="table table-hover mt-4">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
			</tr>
		</thead>
		<tbody>
			{% for picture in pictures %}
				<tr>
					<td>{{ picture.id }}</td>
					<td>{{ picture.name }}</td>
					{% if is_granted('ROLE_ADMIN') %}
						<td>
							<a href="{{ path('edit_picture', {id : picture.id})}}">Modifier</a>
						</td>
						<td>
							<a href="{{ path('remove_picture', {id : picture.id})}}">Supprimer</a>
						</td>
					{% endif %}
				</tr>
			{% else %}
				<tr>
					<td colspan="10">Aucune ville trouvée</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
