{% extends 'base.html.twig' %}

{% block main %}
	<h2 class="text-muted fw-bold mb-4">{{ spot.name }}</h2>

	<table class="table table-hover mt-4">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ spot.id }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ spot.name }}</td>
			</tr>
			<tr>
				<th>Sport</th>
				<td>
					{% if spot.sportid is not null %}
						{% for sport in spot.sportid %}
							{{ sport.name }}
						{% endfor %}
					{% else %}
						Aucun sport associé
					{% endif %}
				</td>
			</tr>
			<tr>
				<th>Ville</th>
				<td>{{ spot.location.name }}</td>
			</tr>
			<tr>
				<th>Adresse</th>
				<td>{{ spot.address }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ spot.description }}</td>
			</tr>
			<tr>
				<th>Image</th>
				<td>{{ spot.picture }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('list') }}">Retour à la liste</a>
	{% if is_granted('ROLE_ADMIN') %}
	<a href="{{ path('edit', {'slug': spot.slug}) }}">Modifier</a>
	{% endif %}

{% endblock %}
