{% extends 'base.html.twig' %}

{% block main %}
	<div class="container mt-5">
		<div class="row justify-content-center">
			<h2 class="text-muted fw-bold mb-4">{{ spot.name }}</h2>

			<table class="table table-hover mt-4">
				<tbody>
					<tr>
						<th>Id</th>
						<td>{{ spot.id }}</td>
					</tr>
					<tr>
						<th>Nom</th>
						<td>{{ spot.name }}</td>
					</tr>
					<tr>
						<th>Image</th>
						<td>
							{% if spot.picture %}
								{% set fileName = spot.picture|split('/')|last %}
								<img src="{{ asset('uploads/spots/' ~ fileName) }}" alt="Image du spot" class="img-fluid" style="max-width: 800px; max-height: 500px;">
							{% else %}
								Aucune image disponible
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>Adresse</th>
						<td>{{ spot.address }}</td>
					</tr>
					<tr>
						<th>Sport</th>
						<td>
							{% if spot.sportid is not null %}
								{% for sport in spot.sportid %}
									{{ sport.name }}
								{% endfor %}
							{% else %}
								Aucun sport associé
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>Description</th>
						<td>{{ spot.description }}</td>
					</tr>

				</tbody>
			</table>
			<div class="buttons-container">
				<a href="{{ path('list') }}" class="btn btn-secondary">Retour à la liste</a>

				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ path('edit', {'slug': spot.slug}) }}" class="btn btn-primary">Modifier</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>{% endblock %}
