{% extends 'base.html.twig' %}

{% block main %}

	<div class="container-xl bg-light p-5 border-top">
		<div class="row mb-2">
			<div class="col-12 col-lg-3">
				<ul class="d-flex flex-column flex-wrap list-unstyled justify-content-center"></br>
			</br>
		</br>

		<a href="{{ path('tri_location', {'sortBy': 'name'}) }}" class="btn btn-sm btn-outline-danger mx-1 mb-2">Trier par nom</a>
		<a href="{{ path('tri_location', {'sortBy': 'spot'}) }}" class="btn btn-sm btn-outline-danger mx-1 mb-2">Trier par nombre de spots</a>

	</br>
</div>
<div class="col-12 col-lg-9">
	<h2 class="text-muted fw-bold mb-4">Les villes
		{% if is_granted('ROLE_ADMIN') %}
			<a href="{{path('add_location')}}" class="btn btn-sm btn-outline-danger mx-1 mb-2">Ajouter une ville</a>
		{% endif %}
	</h2>

	{% for message in app.flashes('addlocation') %}
		<div class="alert alert-success" role="alert">
			{{ message }}
		</div>
	{% endfor %}

	{% for message in app.flashes('updatelocation') %}
		<div class="alert alert-success" role="alert">
			{{ message }}
		</div>
	{% endfor %}

	{% for message in app.flashes('deletelocation') %}
		<div class="alert alert-success" role="alert">
			{{ message }}
		</div>
	{% endfor %}

	<table class="table table-hover mt-4">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
			</tr>
		</thead>
		<tbody>
			{% for location in locations %}
				<tr>
					<td>{{ location.id }}</td>
					<td>{{ location.name }}</td>
					{% if is_granted('ROLE_ADMIN') %}
						<td>
							<a href="{{ path('edit_location', {slug : location.slug})}}" class="btn btn-sm btn-outline-info">Modifier</a>
						</td>
						<td>
							<a href="{{ path('remove_location', {id : location.id})}}" class="btn btn-sm btn-outline-danger mx-1 mb-2">Supprimer</a>
						</td>
					{% endif %}
				</tr>
			{% else %}
				<tr>
					<td colspan="10">Aucune ville trouvée</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
