{% extends 'base.html.twig' %}

{% block main %}

	<div class="container-xl bg-light p-5 border-top">
		<div class="row mb-2">
			<div class="col-12 col-lg-3">
				<ul class="d-flex flex-column flex-wrap list-unstyled justify-content-center"></br>
			</br>
		</br>
		<a href="" class="btn btn-sm btn-outline-danger mx-1 mb-2">Trier par spot</a>
		<a href="" class="btn btn-sm btn-outline-danger mx-1 mb-2">Trier par date</a>
		<a href="" class="btn btn-sm btn-outline-danger mx-1 mb-2">Trier par pseudo</a>
	</br>
</div>
<div class="col-12 col-lg-9">
	<h2 class="text-muted fw-bold mb-4">Les commentaires
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<a href="{{path('add_comment')}}" class="btn btn-sm btn-outline-danger mx-1 mb-2">Ajouter un commentaire</a>
		{% endif %}
	</h2>

	<table class="table table-hover mt-4">
		<thead>
			<tr>
				<th>Id</th>
				<th>Spot</th>
				<th>Contenu du commentaire</th>
				<th>Date d'ajout</th>
				<th>Rider</th>

			</tr>
		</thead>
		<tbody>
			{% for comment in comments %}
				<tr>
					<td>{{ comment.id }}</td>
					<td>{{comment.spot.name }}</td>
					<td>{{ comment.content }}</td>
					<td>
						{% if comment.date is not null %}
							{{ comment.date.format('d-m-Y') }}
						{% else %}
							Date non disponible
						{% endif %}
					</td>
					<td>{{ comment.user.pseudo }}</td>

					<td>
						<a href="{{ path('show_comment', {id : comment.id}) }}">Voir</a>
					</td>
					{% if is_granted('IS_AUTHENTICATED_FULLY') %}
						<td>
							<a href="{{ path('edit_comment', {id : comment.id}) }}">Modifier</a>
						</td>
					{% endif %}
				</tr>
			{% else %}
				<tr>
					<td colspan="10">Aucun commentaire trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
